.Header{
	text-align: center;
}
.text{
	text-align: left;
	font-size: 15px;
	color: purple;
}
.tengah{
	background-color: white;
	height:auto;
	width: auto;
	position: absolute;
	align-items: center;
	margin-top: 75px;
	right:150px;
	left: 150px;
}
